<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('../components/header.ejs') %>
  
  <div class="container">
    <h1>🎉 성공 dsdfsdf!</h1>
    <p>설정이 정상 작동합니다.</p>

    <nav>
      <a href="/main">Main 페이지 (/main)</a>
      <a href="/">홈페이지</a>
    </nav>
  </div>

	<% const name1 = '홍길동'; %>
	<h1><%= name1 %></h1>

	<% const name2 = '홍길동123'; %>
	<h1><%= name2 %></h1>
	
	<% const name3 = '홍길동12345645'; %>
	<h1><%= name3 %></h1>

	<% condition = false; %>
	<% if (condition) { %>
		<h1>true</h1>
	<% } else { %>
		<p>false</p>
	<% } %>

	<% const array2 = ['menu1', 'menu2', 'menu3', 'menu4']; %>
	<ul>


		
		<% for( let index = 0; index < array2.length; index++ ) { %>
			<% const $i = array2[index] %>
			<li class="ico-<%= $i %>"><%= $i %></li>
		<% } %>
	</ul>

	<%- include('../components/footer.ejs') %>

	
</body>
</html>