@charset "UTF-8";
@import "../util";

/* header */
.header{width: 100%; background-color: #fff; transition: all 0.5s;}
.header.active{position: fixed; left: 0; top: 0; z-index: 9999;}
.header .inner{display: flex; align-items: center; height: 90px;}
.header .logo{flex-shrink: 0; width: 161px; height: 58px; @include bg('content/logo.svg');}

.header .btn-menu{margin-left: auto; width: 36px; height: 36px; @include bg('icon/icon-menu.png', $size: 24px auto);}
.header .btn-search{margin-left: auto; width: 36px; height: 36px; @include bg('icon/icon-search.png', $size: 24px auto);}
.header .btn-close{position: absolute; top: 20px; right: 20px; width: 36px; height: 36px; @include bg('icon/icon-close.png');}

.header .nav-wrap{display: flex; align-items: center; width: 100%;}
.header .nav-wrap .nav-scroll-area{overflow-y: auto; display: flex; width: 100%; height: 100%;}
.header .nav-wrap .nav-inner{display: flex; align-items: center; justify-content: center; width: 100%;}
.header .nav{display: flex;}
.header .nav li{font-size: 18px;}
.header .nav li + li{margin-left: 120px;}

@media (max-width: 750px) {
    // .header{position: fixed; left: 0; top: 0; width: 100%; z-index: 9999; background-color: #fff;}
    .header .nav-wrap{position: fixed; top: 0; left: 0; flex-direction: column; padding: 40px 30px; width: 100%; height: 100vh; z-index: 1; transform: translateX(100%); transition: transform 0.5s; opacity: 0; visibility: hidden;}
    .header .nav-wrap .nav-inner{flex-direction: column; min-height: 400px;}
    .header .nav-wrap::before{content: ''; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: -1; display: block; background-color: rgba(0, 0 , 0, 0.8); transform: translateX(100%); transition: transform 0.5s; opacity: 0; visibility: hidden;}

    .header.open .nav-wrap{transform: translateX(0); opacity: 1; visibility: visible;}
    .header.open .nav-wrap::before{transform: translateX(0); opacity: 1; visibility: visible;}

    .header .nav{position: relative; top: 50%; transform: translateY(-50%); flex-direction: column;}
    .header .nav li{font-size: 28px; font-weight: 400; line-height: 1.7; text-align: center;}
    .header .nav li + li{margin-top: 28px; margin-left: 0;}

}

@media (max-width: 375px) {

}
